body
{
	background-color: #111;
	
}
.gunes
{
	height : 1000px;
	width : auto;
	filter : url('#goo3');
}
.yazi2
{
	position : absolute;
	top : 0px;
	left : 0px;
	font-size : 50px;
}
.container
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	height: 400px;
	filter:url('#goo');
	text-align :center;

}
.topContainer
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	height: 400px;
	filter:url('#goo2');
	text-align :center;
	z-index : -1;
}
#duzTop
{
	width: 70px;
	height: 70px;
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	margin: auto;
	left: -99px;
	right: -99px;
	top: -99px;
	bottom: -99px;
	z-index : -1;

}
.container .yTop
{
	
	width: 40px;
	height: 40px;
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	margin: auto;
	left: -99px;
	right: -99px;
	top: -99px;
	bottom: -99px;
	animation: animasyon 3s infinite ease-in-out;
}
.yazi
{
	text-align : center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding : 50px;

}
.container >div .yTop:last-child
{
	animation-delay: -1.5s;
}
.container >div
{
	
	position: absolute;
	top:   50%;
	left:  50%;


}
.container >div:last-child
{
	transform: rotate(90deg);
}
@keyframes animasyon
{
	0%
	{
		transform-origin: 50% -100%;
		transform: rotate(0deg);
	}
	50%
	{
		transform-origin: 50% -100%;
		transform: rotate(360deg);
	}
	50.1%
	{
		transform-origin: 50% 200%;
		transform: rotate(0deg);
	}
	100%
	{
		transform-origin: 50% 200%;
		transform: rotate(360deg);		
	}

}